{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-12 text-center">

          <h2 class="mb-0">Login</h2>
          {% if form.errors %}
            <p class="text-white">Your username and password didn't match. Please try again.</p>
          {% endif %}

          {% if next %}
            <p class="text-white">Please login to see this page.</p>
          {% endif %}
        </div>

      </div>
    </div>
  </header>

  <div class="col-lg-8 col-12 mx-auto">
    <form method="post" action="{% url 'login' %}" class="custom-form contact-form">
      {% csrf_token %}
      {{ form|crispy }}

      <button type="submit" value="Login" class="custom-form">Log in</button>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
{% endblock %}
