<ul class="sidebar-nav list-group">
  <li class="list-group-item">User: <a href=""></a></li>
  <li class="list-group-item">Logout</li>
  <li class="list-group-item">Login</li>
  <li class="list-group-item"><a href="{% url 'sport_academy:index' %}">Home</a></li>
  <li class="list-group-item"><a href="">About club</a></li>
  <li class="list-group-item"><a href="{% url 'sport_academy:teams-list' %}">Teams</a></li>
  <li class="list-group-item"><a href="{% url 'sport_academy:coaches-list' %}">Coaches</a></li>
  <li class="list-group-item"><a href="{% url 'sport_academy:players-list' %}">Players</a></li>
</ul>
