{% load static %}
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand me-lg-5 me-0" href="{% url 'sport_academy:index' %}">
      <img src="{% static 'images/iCoach-logo.PNG' %}" class="logo-image img-fluid" alt="templatemo iCoach">
    </a>

{#      <form action="#" method="get" class="custom-form search-form flex-fill me-3" role="search">#}
{#          <div class="input-group input-group-lg">#}
{#              <input name="search" type="search" class="form-control" id="search" placeholder="Search Podcast"#}
{#                  aria-label="Search">#}
{##}
{#              <button type="submit" class="form-control" id="submit">#}
{#                  <i class="bi-search"></i>#}
{#              </button>#}
{#          </div>#}
{#      </form>#}

{#    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"#}
{#      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">#}
{#      <span class="navbar-toggler-icon"></span>#}
{#    </button>#}

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-lg-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'sport_academy:index' %}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'sport_academy:clubs-list' %}">About</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'sport_academy:teams-list' %}" id="navbarLightDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Teams</a>

          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
            <li><a class="dropdown-item active" href="{% url 'sport_academy:coaches-list' %}">Coaches</a></li>
            <li><a class="dropdown-item active" href="{% url 'sport_academy:players-list' %}">Players</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
        <li><a class="nav-link" href="detail-page.html">Login</a></li>
      </ul>

      <div class="ms-4">
        <a href="#section_2" class="btn custom-btn custom-border-btn smoothscroll">Get started</a>
      </div>
    </div>
  </div>
</nav>
