{% load static %}
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand me-lg-5 me-0" href="{% url 'sport_academy:index' %}">
      <img src="{% static 'images/iCoach-logo.PNG' %}" class="logo-image img-fluid" alt="templatemo iCoach">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-lg-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'sport_academy:index' %}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'sport_academy:clubs-list' %}">About</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarLightDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Club structure</a>

          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
            <li><a class="dropdown-item active" href="{% url 'sport_academy:teams-list' %}">Teams</a></li>
            <li><a class="dropdown-item active" href="{% url 'sport_academy:coaches-list' %}">Coaches</a></li>
            <li><a class="dropdown-item active" href="{% url 'sport_academy:players-list' %}">Players</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item"><a href="{{ user.get_absolute_url }}" class="nav-link">{{ user.get_username }}</a></li>
          <div class="ms-4">
            <a href="{% url 'logout'%}?next={{request.path}}" class="btn custom-btn custom-border-btn smoothscroll">Log out</a>
          </div>
        {% else %}
          <div class="ms-4">
            <a href="{% url 'login' %}?next={{request.path}}" class="btn custom-btn custom-border-btn smoothscroll">Log in</a>
          </div>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
