{% extends "base.html" %}

{% block content %}
  <h1>
    Sport clubs
  </h1>
   {% if clubs_list %}
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Place</th>
          <th>Stadium</th>
        </tr>
        {% for club in clubs_list %}
          <tr>
            <td>
              {{ club.id }}
            </td>
            <td>
              <a href="{% url 'sport_academy:club-detail' pk=club.id %}">{{ club.name }}</a>
            </td>
            <td>
              {{ club.city }}, {{ club.country }}
            </td>
            <td>
              {{ club.main_stadium }}
            </td>
          </tr>

        {% endfor %}

      </table>
   {% endif %}
{% endblock %}