{% extends "base.html" %}

{% block content %}
  <h1>
    Coaches
  </h1>
   {% if coaches_list %}
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Full Name</th>
          <th>Position</th>
          <th>Team</th>
        </tr>
        {% for coach in coaches_list %}
          <tr>
            <td>
              {{ coach.id }}
            </td>
            <td>
              <a href="{% url 'sport_academy:coach-detail' pk=coach.id %}">{{ coach.first_name }} {{ coach.last_name }}</a>
            </td>
            <td>
              {{ coach.position }}
            </td>
            <td>
              <ul>
                {% for team in coach.team.all %}
                  <li>{{ team.name }} team</li>
                {% endfor %}
              </ul>

            </td>
          </tr>

        {% endfor %}

      </table>
   {% endif %}
{% endblock %}