{% extends "base.html" %}

{% block content %}
  <h1>
    Players
    <a href="{% url 'sport_academy:player-create' %}">Add new</a>
  </h1>
   {% if players_list %}
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Full Name</th>
          <th>Birth date</th>
          <th>Position</th>
          <th>Nationality</th>
        </tr>
        {% for player in players_list %}
          <tr>
            <td>
              {{ player.id }}
            </td>
            <td>
              <a href="{% url 'sport_academy:player-detail' pk=player.id %}">{{ player.first_name }} {{ player.last_name }}</a>
            </td>
            <td>
              {{ player.birth_date}}
            </td>
            <td>
              {{ player.position }}
            </td>
            <td>
              {{ player.nationality }}
            </td>
          </tr>

        {% endfor %}

      </table>
   {% else %}
     <p>There are no registered players yet</p>
   {% endif %}
{% endblock %}