{%  extends "base.html" %}
{% load static %}

{% block content %}
  <section class="hero-section">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-12">
          <div class="text-center mb-5 pb-2">
            <h1 class="text-white">iCoach</h1>

            <p class="text-white">Best professional manager of your sport club</p>

            <a href="#section_2" class="btn custom-btn smoothscroll mt-3">Register your club</a>
          </div>

          <div class="owl-carousel owl-theme">
            <div class="owl-carousel-info-wrap item">
              <img src="{% static 'images/profile/smiling-business-woman-with-folded-hands-against-white-wall-toothy-smile-crossed-arms.jpg' %}"
                class="owl-carousel-image img-fluid" alt="">

              <div class="owl-carousel-info">
                <h4 class="mb-2">
                  Candice
                  <img src="{% static 'images/verified.png' %}" class="owl-carousel-verified-image img-fluid"
                      alt="">
                </h4>

                <span class="badge">Storytelling</span>

                <span class="badge">Business</span>
              </div>

              <div class="social-share">
                <ul class="social-icon">
                  <li class="social-icon-item">
                    <a href="#" class="social-icon-link bi-twitter"></a>
                  </li>

                  <li class="social-icon-item">
                    <a href="#" class="social-icon-link bi-facebook"></a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="owl-carousel-info-wrap item">
              <img src="{% static 'images/profile/handsome-asian-man-listening-music-through-headphones.jpg' %}"
                class="owl-carousel-image img-fluid" alt="">

              <div class="owl-carousel-info">
                <h4 class="mb-2">
                  William
                  <img src="{% static 'images/verified.png' %}" class="owl-carousel-verified-image img-fluid"
                      alt="">
                </h4>

                <span class="badge">Creative</span>

                <span class="badge">Design</span>
              </div>

              <div class="social-share">
                <ul class="social-icon">
                  <li class="social-icon-item">
                    <a href="#" class="social-icon-link bi-twitter"></a>
                  </li>

                  <li class="social-icon-item">
                    <a href="#" class="social-icon-link bi-facebook"></a>
                  </li>

                  <li class="social-icon-item">
                    <a href="#" class="social-icon-link bi-pinterest"></a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="owl-carousel-info-wrap item">
              <img src="{% static 'images/profile/cute-smiling-woman-outdoor-portrait.jpg' %}"
                class="owl-carousel-image img-fluid" alt="">

              <div class="owl-carousel-info">
                <h4 class="mb-2">Taylor</h4>

                <span class="badge">Modeling</span>

                <span class="badge">Fashion</span>
              </div>

              <div class="social-share">
                <ul class="social-icon">
                  <li class="social-icon-item">
                    <a href="#" class="social-icon-link bi-twitter"></a>
                  </li>

                  <li class="social-icon-item">
                    <a href="#" class="social-icon-link bi-facebook"></a>
                  </li>

                  <li class="social-icon-item">
                    <a href="#" class="social-icon-link bi-pinterest"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ul>
    <li>FC {{ "" }}</li>
    <li>Teams {{ num_teams }}</li>
    <li>Coaches {{ num_coaches }}</li>
    <li>Players {{ num_players }}</li>

  </ul>

{% endblock %}